body {
    background-color: khaki;
    color: black;
}

title {
    font-size: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.label {
    float: right;
    font-weight: 700px;
}

.button {
    align-content: center;
}